<% if(typeof errors != 'undefined') { %>
    <% errors.forEach((error) => { %>
        <div class="alert alert-warning alert-dismissible show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        
    <% }); %>

<% } %>

<% if(success_msg != '') { %>
  <div class="alert alert-success alert-dismissible  show" role="alert">
    <%= success_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if(error_msg != '') { %>
  <div class="alert alert-danger alert-dismissible  show" role="alert">
    <%= error_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if(error != '') { %>
  <div class="alert alert-danger alert-dismissible  show" role="alert">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>
 

<% if(profile_msg != '') { %>
 <div class="card-alert card card-style">
    <div class="card-content">
        <%= profile_msg %>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<script>
    $(document).ready(function() {
        $('.card-alert > button').on('click', function(){
            $(this).closest('div.card-alert').fadeOut('slow');
        })
    })
</script>     

<% } %>
   
