<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Notes</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link rel="icon" href="/img/favicon.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="/css/cards.css">
<link rel="stylesheet" href="/css/signup.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<style>
  .developers-details{
  font-size:1rem;
  position:relative;
  top:1vh;
  color:black !important;
}
  .card-alert button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 20px;
  top: 11px;
  color: white;
}
.card-alert a {
  color: inherit;
  font-weight: 500;
}
    .active { color: red; }
.card-style{
  background:#26a69a;
  font-size:1.2rem;
  color:white;
  letter-spacing:1.3px;
  padding:2vh;
  width: 60vw;
  top: 14vh;
  left: 38vw;
  bottom:5vh;
}

.card-alert a:hover {
  color: inherit;
  text-decoration: underline;
}
	.nav-links{
    font-size: 1.05rem;
    padding:20px;
}
.logo{
    position: relative;
    left: -20vw;
    font-size:30px;
    margin-top:-3px;
}
	.navbar {
        left:0vw;
        height:13.5vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-around;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.6);
    overflow: hidden;
    z-index: 99;
    }
#navtoggle{
    right: 30px;
    top: 20px;
    font-size: 2rem;
}
#smallnavbar{
  top:12vh;
}
@media screen and (min-width: 768px){
	.logo {
    display: inline-block;
    position: relative;
    left: 0%;
    font-size: 1.8rem;
       margin-top:10px;
	}
	.demo-wrapper{
		padding-bottom: 20vh;
	}
  .card-style{
  width: 30vw;
  top: 12vh;
  left: 69vw;
  text-align:center;
  }
}
  .logout1{
    color:white !important;
}
@media (min-width: 767px){
.logout1{
    color:black;
    position:relative;
    font-weight:700;
}
}
.year-style{
	    width: 100%;
    background: transparent;
    border: 1px solid gray;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: none;
    outline: none;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}
/* .portfolio-items{margin-top: 10vh;} */
  .search-sort-box {
        margin: 3vh;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sort-text {
        margin-left: 12px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .search-sort-box button {
        margin-left: 3px;
    }

    .search-box select {
        font-size: 1.3rem;
        border-radius: 20px;
        outline: none;
        padding: 3px;
        width:200px;
        padding:5px 10px;
        border:1px solid black;
        margin-left:8px;
    }
    .search-box{
        display: flex;
        justify-content: center;
        /* margin:30px 0; */
        margin-top:2vh;
        margin-bottom: -40px;
        /*top:15vh;*/
        align-items: center;
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
    }
    .search-box label{
        font-size: 1.2rem;
        font-weight: bold;
        /*margin-left:20px;*/
    }
    .search-box input{
        border-radius: 10px;
         border: 2px solid darkblue; 
         padding: 5px 10px 5px 10px;
    }
    .search-box input:hover{
        border-radius: 10px;
         border: 2px solid orangered; 
         padding: 5px 10px 5px 10px;
    }
    @media screen and (max-width: 768px){
      .search-box{
        margin-top:15vh;
      }
    }
    #sortRating{
      padding: 10px;
      background: darkblue; 
      color: white; 
      margin: 10px;
      cursor: pointer;
    }
    @media screen and (max-width: 750px){
      #sortRating{
        margin-bottom: 0;
      }
      #sortYear{
        margin-bottom: 0;
      }
    }
    #sortRating:hover{
      background: orange;
      color: darkblue;
      transition: 0.3s ease-in-out;
    }
    #sortYear{
      padding: 10px;
      background: darkblue; 
      color: white; 
      margin: 10px;
      cursor: pointer;
    }
    #sortYear:hover{
      background: orange;
      color: darkblue;
      transition: 0.3s ease-in-out;
    }
    .grid-item{
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 40px;
    }
    @media screen and (max-width: 750px){
      .search-box{
        display: grid;
        grid-template-columns: auto;
      }
      .grid-item{
        padding-top: 10px;
      }
    }

    #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: 999999;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes hide {
  to {
    opacity: 0
  }
}
.notes-content{
	opacity: 1;
    top: 32vh;
    height: auto;
    padding-top: 4vh;
}
.notes-content span{
	opacity:1;
	left:30%;
}
.item:hover .notes-content {
  -webkit-animation: hide .45s ease-in .120s forwards;
  -o-animation: hide .45s ease-in .120s forwards;
  animation: hide .45s ease-in .120s forwards
}
</style>
</head>
<body style="background:#f7edd5;">
  <div id="preloader">
    <div id="loader"></div>
</div>
  <nav class="navbar" style="height: 14vh;">
    <a href="/" class="logo">Resource Hub</a>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/#about" class="nav-links">About</a>
      </li>
      <li>
        <a href="/profile" class="nav-links"></i>Profile</a>
      </li>
      <li>
        <a href="/users/branch" class="nav-links active">Hub</a>
      </li>
      <li>
        <a href="/#contact" class="nav-links">Contact Us</a>
      </li>
      <li>
        <a href="/users/logout" class="nav-links logout1"></i>LOGOUT</a>
      </li>
    </ul>
    <div id="navtoggle"> <i class="fas fa-bars"></i> </div> 
  </nav>

  <div id="smallnavbar">
    <ul class="smallmain-nav" id="smalljs-menu">
        <li>
          <a href="/" class="nav-links smallnav">Home</a>
        </li>
        <li>
          <a href="/#about" class="nav-links smallnav">About</a>
        </li>
        <li>
            <a href="/profile" class="nav-links smallnav"></i>Profile</a>
          </li>
        <li>
          <a href="/users/branch" class="nav-links smallnav active">Hub</a>
        </li>
        <li>
          <a href="/#contact" class="nav-links smallnav">Contact Us</a>
        </li>
        <li>
            <a href="/users/logout" class="nav-links smallnav">Logout</a>
          </li>
      </ul>
</div>
<!-- partial:index.partial.html -->
<div class="col s6 m8"></div>
<div class="col s6 m4">
  <%- include('./partials/notes') %>

</div>
    <div class="search-box">
      <div class="grid-item" id="grid1">
          <label class="col s6 m2"><p>Search By Subject:</p></label>
          <input id="nameInput" onkeyup=searchBySubject() class="col s6 m2"></input>
          <!-- <span class="sort-text" class="col s6 m2">Sort By Rating</span>
            <select onChange=sortByRating() id="myrating" class="col s6 m2">
              <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" >5</option>
            </select> -->
      </div>
      
      <div class="grid-item" id="grid3">
          <label class="col s6 m2" style="margin-left: 30px;">Search By Professor:</label><br>
          <input id="profname" onkeyup=searchByProf() class="col s6 m2" style="transform: translateX(10px) !important;"></input>
      </div>
      <div class="grid-item" id="grid2">
        <button onClick=sortRating() id="sortRating" style="transform: translateY(15px);">Sort By Rating<span id="arrow" style="padding: 8px; font-size: larger;">&uarr;</span></button>
        <button onClick=sortYear() id="sortYear"style="transform: translateY(15px);" >Sort By Year<span id="arrow1" style="padding: 8px; font-size: larger;">&uarr;</span></button>
    </div>
       </div>
<div class="stickycontent">
<div class="demo-wrapper">
  
    <!-- <h1>Horizontal Portfolio Layout With CSS3 Animations and jQuery</h1> -->
    <%= console.log("notes length in notes.ejs",notes.length) %>


    <ul class="portfolio-items" id="myTable">

        
        <% var count = 1 %>
        <% notes.forEach((note) => { %>
            <li class="item" id="notes">
                <figure>
                    <div class="view">
                        <img src="/img/notes.jpeg" />
                    </div>
                    <figcaption class="notes-content">
                        	<p><span style="color:#562fc7;">Subject - <%= note.subject %></span></p>
                        	<p><span style="color:#CC320F;">Professor - <%= note.profName %></span></p>
                        </figcaption>
                    <figcaption>
                        <p><span><a target="_blank" href="/users/branch/semester/notes/download?branch=<%= note.branch %>&semester=<%= note.semester %>&noteId=<%= note._id%>">Click here to view / download</a></span></p>
                        <p><span>Subject - <%= note.subject %></span></p>
                        <p><span>Professor - <%= note.profName %></span></p>
                        <p><span>By <%= note.userName %></span></p>
                        <p><span><a href="/users/branch/semester/notes/report?branch=<%= note.branch %>&semester=<%= note.semester %>&noteId=<%= note._id%>&noteType=<%= note.noteType %>">Report Inappropriate - <%= note.reports%></a></span></p>
                    </figcaption>
                </figure>

                <div class="date"><%= floorvalue[count-1] %></div>
                <div style="display:none;"><%= note.year %></div>
                <form action="/users/branch/semester/notes/star_rating/<%= note._id%>" method="POST">
                    <div class="stars">
                        <input class="stars__checkbox" type="radio" id="first-star<%=count%>" name="star" value="5" onclick="this.form.submit()">
                        <label class="stars__star" for="first-star<%=count%>">
                            <svg class="stars__star-icon" version="1.1" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                            </svg>
                        </label>
                        <input class="stars__checkbox" type="radio" id="second-star<%=count%>"name="star" value="4" onclick="this.form.submit()">
                        <label class="stars__star" for="second-star<%=count%>">
                            <svg class="stars__star-icon" version="1.1" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                            </svg>
                        </label>
                        <input class="stars__checkbox" type="radio" id="third-star<%=count%>" name= "star" value="3" onclick="this.form.submit()">
                        <label class="stars__star" for="third-star<%=count%>">
                            <svg class="stars__star-icon" version="1.1" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                            </svg>
                        </label>
                        <input class="stars__checkbox" type="radio" id="fourth-star<%=count%>" name="star"value="2" onclick="this.form.submit()">
                        <label class="stars__star" for="fourth-star<%=count%>">
                            <svg class="stars__star-icon" version="1.1" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                            </svg>
                        </label>
                        <input class="stars__checkbox" type="radio" id="fifth-star<%=count%>" name="star" value="1" onclick="this.form.submit()">
                        <label class="stars__star" for="fifth-star<%=count%>">
                            <svg class="stars__star-icon" version="1.1" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                            </svg>
                        </label>
                    </div>
                </form>
            </li>
            <% count = count+1 %>
        <% }); %>
    </ul>
</div>

        <div class="col s12 m6 l4">
            <div id="flight-card" class="card">
              <div class="card-header">
                <div class="card-title signIn tooltip">
                  <h4 class="flight-card-title">Request <%= data%></h4>
                  <span class="tooltiptext">Click here to request for <%= data%></span>
                </div>
              </div>
              <div class="fold">
                <form action="/users/branch/semester/notes/request?data=<%= data%>" method="post">
                  <div id="selectBranch">
                    
                  <input type="text" name="branch" placeholder="Branch" value="<%= branchname%>" required readonly="readonly">
                  <input type="text" name="semester" placeholder="Semester" value="<%= semester %>"" required readonly="readonly">
                  <input id="year" type="number" class="year-style" name="year"placeholder="Year">
                  <input type="text" name="subject" placeholder="Subject" required>
                  <input type="text" name="profName" placeholder="Professor Name" required>
                  <p style="text-align: center; display: block;"><input type="submit" value="Request Note"></p>
                </form>
              </div>
            </div>
            <div class="col l2"><h1></h1></div>
        </div>

  <%- include("partials/footer") %> 
</div>
<!--::footer_part end::-->
<!-- partial -->
<script>
  function searchBySubject(){
    let input, filter, table, tr, td, i, txtValue,notes;
    console.log("hey")
  input = document.getElementById("nameInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("p");
  notes = table.getElementsByTagName('li');

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = notes[i].getElementsByTagName("p")[1];
    var x = td.textContent|| td.innerText;
    var y = x.split(" - ")[1];
    if (y) {
      txtValue = y;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        notes[i].style.display = "";
      } else {
        notes[i].style.display = "none";
      }
    }
  }
}
</script>
<!-- <script>
   function sortByRating() {
  // Declare variables
  let select, filter, table, t, tdr, i, txtValue1,notes1;
  select = document.getElementById("myrating");
  filter = select.value.toString();
  table = document.getElementById("myTable");
  t = table.getElementsByTagName("div");
  notes1 = table.getElementsByTagName('li');

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < t.length; i++) {
    tdr = notes1[i].getElementsByTagName("div")[1];
    var x = tdr.textContent|| tdr.innerText;
    var y = x.toString();
    if (y) {
      txtValue1 = y;
      if (txtValue1.toUpperCase().indexOf(filter) > -1) {
        notes1[i].style.display = "";
      } else {
        notes1[i].style.display = "none";
      }
    }
  }
}
  </script> -->
  <script>
   function searchByProf() {
  // Declare variables
  let select, filter, table, tr, td, i, txtValue,notes;
  input = document.getElementById("profname");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("p");
  notes = table.getElementsByTagName('li');

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = notes[i].getElementsByTagName("p")[2];
    var x = td.textContent|| td.innerText;
    var y = x.split(" - ")[1];
    if (y) {
      txtValue = y;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        notes[i].style.display = "";
      } else {
        notes[i].style.display = "none";
      }
    }
  }
}
  </script>
  <script>
  function sortRating() {
 var list, i, switching, b, shouldSwitch, dir, switchcount = 0;
  list = document.getElementById("myTable");
  var arrow = document.getElementById("arrow");
  switching = true;
  dir = "asc"; 
  while (switching) {
    switching = false;
    b = list.getElementsByTagName("li");
    for (i = 0; i < (b.length - 1); i++) {
      shouldSwitch = false;
      var tx = b[i].getElementsByTagName("div")[1];
      var tx1 = b[i+1].getElementsByTagName("div")[1];
      if(dir == "asc"){
      if (tx.innerHTML.toLowerCase() < tx1.innerHTML.toLowerCase()) {
        shouldSwitch = true;
        arrow.innerHTML = "&darr;";
        break;
      }
      }else if (dir == "desc") {
        if (tx.innerHTML.toLowerCase() > tx1.innerHTML.toLowerCase()) {
              arrow.innerHTML = "&uarr;";
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      b[i].parentNode.insertBefore(b[i + 1], b[i]);
      switching = true;
      switchcount ++;
    }
    else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
<script>
    function sortYear() {
 var list, i, switching, b, shouldSwitch, dir, switchcount = 0;
  list = document.getElementById("myTable");
   var arrow1 = document.getElementById("arrow1");
  switching = true;
  dir = "asc"; 
  while (switching) {
    switching = false;
    b = list.getElementsByTagName("li");
    for (i = 0; i < (b.length - 1); i++) {
      shouldSwitch = false;
      var tx = b[i].getElementsByTagName("div")[2];
      var tx1 = b[i+1].getElementsByTagName("div")[2];
      if(dir == "asc"){
      if (tx.innerHTML.toLowerCase() < tx1.innerHTML.toLowerCase()) {
        shouldSwitch = true;
        arrow1.innerHTML = "&darr;";
        break;
      }
      }else if (dir == "desc") {
        if (tx.innerHTML.toLowerCase() > tx1.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          arrow1.innerHTML = "&uarr;";
          break;
        }
      }
    }
    if (shouldSwitch) {
      b[i].parentNode.insertBefore(b[i + 1], b[i]);
      switching = true;
      switchcount ++;
    }
    else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script> 
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/js/mousewheel.js"></script>
<script  src="/js/cards.js"></script>
<script type="text/javascript" src="/js/branch-cards2.js"></script>

<script> 
  window.onload = function(){
      document.querySelector("#preloader").style.display = "none";
  }
</script>
</body>
</html>
