<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile - <%= user.name %></title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.7/chartist.min.css'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="icon" href="/img/favicon.png">
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.signIn').click(function(){
        $('.fold').toggleClass('active');
      })
    })
  </script>
  <style>
    
.card-alert button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 20px;
  top: 11px;
  color: white;
}

.card-alert a {
  color: inherit;
  font-weight: 500;
}
.card-style{
  background:#26a69a;
  font-size:1.2rem;
  color:white;
  letter-spacing:1.3px;
}
.card-alert a:hover {
  color: inherit;
  text-decoration: underline;
}
.user-details{
  font-size:1.26rem;
  font-weight: normal;
  position: relative;
  top:2px
}
.collection .collection-item{line-height:2rem;}
@media screen and (max-width: 768px)
 { 
  #navtoggle{
    display: block;
    right: -10vw;
    top: 25px;
    }
    .navbar{
    width: 100vw;
    }
    .nav-links{
    padding: 20px 20px;
  }
    .user-details{
  font-size:1.2rem;
}
.collections-title span{
	display:block;
	margin-left:1.6vw;
}
  }
  .logout1{
    color:white !important;
}
@media (min-width: 767px){
.logout1{
    color:black;
    position:relative;
    font-weight:700;
}
.logo,.nav-links{
  font-size:1rem;
}
.logo{font-size:1.8rem;}
}
.active { color: red; }

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
@media screen and (max-width: 800px)
{
.grid-container {
    grid-template-columns: auto;
}}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: 999999;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
</style>
</head>
<body>
  <div id="preloader">
    <div id="loader"></div>
</div>
  <nav class="navbar">
    <a href="/" class="logo">Resource Hub</a>
    <!-- <input type="checkbox" id="chkToggle"></input> -->
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/#about" class="nav-links">About</a>
      </li>
      <li>
        <a href="/profile" class="nav-links active">Profile</a>
      </li>
      <li>
        <a href="/users/branch" class="nav-links">Hub</a>
      </li>
      <li>
        <a href="/#contact" class="nav-links">Contact Us</a>
      </li>
      <li>
        <a href="/users/logout" class="nav-links logout1">Logout</a>
      </li>
    </ul>
    <div id="navtoggle"> <i class="fas fa-bars"></i> </div>
  </nav>

  <div id="smallnavbar">
    <ul class="smallmain-nav" id="smalljs-menu">
        <li>
          <a href="/" class="nav-links smallnav">Home</a>
        </li>
        <li>
          <a href="/#about" class="nav-links smallnav">About</a>
        </li>
        <li>
          <a href="/profile" class="nav-links smallnav active">Profile</a>
        </li>
        <li>
          <a href="/users/branch" class="nav-links smallnav">Hub</a>
        </li>
        <li>
          <a href="/#contact" class="nav-links smallnav">Contact Us</a>
        </li>
        <li>
          <a href="/users/logout" class="nav-links smallnav">Logout</a>
        </li>
      </ul>
</div>
<!-- START MAIN -->
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">

    <!-- START CONTENT -->
    <section id="content">
      <div class="row">

        <div class="col  m3">
          
        </div>
        <div class="col  m3">
        </div>       
        <div class="col s12 m6" style="float:right;">
          <%- include('./partials/messages') %>
        </div>

      </div>
      <!--start container-->
      <div class="container">

        <div id="work-collections" style="margin-top: 6vh;">
          <div class="row">
            <div class="col l2"><h1></h1></div>
            <div class="col s12 m6 l3">
              <div id="profile-card" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img src="/img/icons/user-banner.jpg" alt="user background">
                  
                </div>
                <div class="card-content">
                  <img src="<%= user.avatar ? user.avatar : '/img/avatar.png' %>" alt="" class="circle responsive-img card-profile-image" style="width: 140px;height: 120px;">

                  <span class="card-title activator grey-text text-darken-4" style="text-transform: capitalize;"><%= user.name %></span>
                  <p><i class="mdi-communication-email cyan-text text-darken-2"></i>Email Id: <%= user.email%></p>
                  <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i>Contact Number : <%= user.phnNo%></p>

                </div>
              </div>
            </div>

            <div class="col s12 m12 l6">
              <ul id="projects-collection" class="collection">
                <li class="collection-item avatar">
                  <i class="mdi-file-folder circle light-blue darken-2"><span style="font-size: 1.6rem;font-style: normal;position: relative;top:-2px"><%= ratingValue%></span></i>
                  <span class="collection-header" style="position: relative;top:10px;text-transform: uppercase;"><%= user.name %></span>
                  <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
                </li>
                <li class="collection-item">
                  <div class="row">
                    <div class="col s6 l6">
                      <span class="user-details">Branch - </span>
                    </div>
                    <div class="col s6 l6">
                       <span style="font-size: 1.3rem;"><%= user.branch %></span>
                    </div>
                  </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                      <div class="col s6 l6">
                          <span class="user-details">Semester - </span> 
                        </div>
                      <div class="col s6 l2">
                        <span style="font-size: 1.3rem;"><%= user.semester %></span>
                      </div>
                    </div>
                  </li>
                
                <li class="collection-item">
                  <div class="row">
                    <div class="col s6 l6">
                        <span class="user-details"><%= user.name %>'s notes downloaded - </span>
                      </div>
                    <div class="col s6 l2">
                       <span style="font-size: 1.3rem;"><%= user.notesDownloadedByUsers %></span>
                    </div>
                  </div>
                </li>
                <li class="collection-item">
                  <div class="row">
                    <div class="col s6 l6">
                        <span class="user-details">Total Uploads by <%= user.name%> - </span> 
                      </div>
                    <div class="col s6 l2">
                        <span style="font-size: 1.3rem;"><%= user.uploadsCount%></span>
                    </div>
                  </div>
                </li>
                
              </ul>
            </div>
            <div class="col l2"><h1></h1></div>
          </div>
        </div>
        <!--work collections end-->
        <!-- Floating Action Button -->
        <div class="row">
          <div class="col s12 m12 l2"><h1></h1></div>
        <div class="col s12 m12 l8">
          <ul id="issues-collection" class="collection">
            <li class="collection-item avatar">
              <i class="mdi-action-bug-report circle red darken-2"><span style="font-size: 3vh;font-style: normal;position: relative;top:-2px"><%= user.uploadsCount%></span></i>
              <span class="collection-header">Notes</span>
              <p>Uploaded by you</p>
              <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <% var countNote =0 %>
            <% notes.forEach((note) => { %>
              
              <li class="collection-item">
              <div class="row">
                <div class="col s6">
                  <p class="collections-title"><span>Subject - <%= note.subject%></span><span style="margin-left: 2vw;">Branch - <%= note.branch%></span> <span style="margin-left: 1.6vw;">Semester - <%= note.semester%></span> </p>
                  <p class="collections-content">Professor Name - <%= note.profName%></p>
                  <a target="_blank" href="/users/branch/semester/notes/download?branch=<%= note.branch %>&semester=<%= note.semester %>&noteId=<%= note._id%>" class="collections-title">Click here to view / download the note</a>
                </div>
                <div class="col s2" style="margin-top: 7vh;">
                  <span class="task-cat pink accent-2"><%= floorvalue[countNote]%></span>
                </div>
                <div class="col s3" style="margin-top: 7vh;">
                  
                  <div class="progress">
                    <% var rating = floorvalue[countNote] %>
                    <%= console.log("rating value in profile.ejs",rating) %>
                    <div class="determinate" style="width: <%= rating * 20 %>%"></div>
                  </div>
                  
                </div>
              </div>
            </li>
            <% countNote = countNote + 1 %>
        <% }); %>
          </ul>
          <div class="pagination">
            <% if(lastExact!=0){ %>
            <a href="/users/publicProfile/<%=user._id%>?page=<%=page-1%>&limit=3" class="prev"><i class="fas fa-angle-left"></i></a>
            <% } %>
            <% for(var i=1;i<=lastExact;i++){%>
              <% if(i==page){ %>
                <a href="/users/publicProfile/<%=user._id%>?page=<%=i%>&limit=3" class="num numactive"><%=i%></a>
              <% }else{%>
                <a href="/users/publicProfile/<%=user._id%>?page=<%=i%>&limit=3" class="num"><%=i%></a>
              <% } %>
              
            <% }%>
            <% if(lastExact!=0){ %>
            <a href="/users/publicProfile/<%=user._id%>?page=<%=page+1%>&limit=3" class="next"><i class="fas fa-angle-right"></i></a>
            <% }%>
            </div>
        </div>
        <div class="col l2"><h1></h1></div>
      </div>
    </section>
    <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->

     <!--::footer_part start::-->
     <footer class="footer_part">
        <!-- <div class="container grid-container"> -->
            <div class="row grid-container">
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Developers</h4>
                        <ul class="list-unstyled">
                            <li><a href="/developers">Ankit Srivastava</a></li>
                            <li><a href="/developers">Ujjawal Jain</a></li>
                            <li><a href="/developers">Anuva Bhattacharjee</a></li>
                            <li><a href="/developers" class="developers-details">Know More About Developers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Popular Notes</h4>
                        <!-- <ul class="list-unstyled">
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Recent Uploads</h4>
                        <!-- <ul class="list-unstyled">
                             <li><a href="">Newbie 1</a></li>
                            <li><a href="">Newbie 2</a></li>
                            <li><a href="">Newbie 3</a></li> 
                        </ul> -->
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Most Downloaded</h4>
                       <!--  <ul class="list-unstyled">
                            /* <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li> */
                        </ul> -->
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Popular Profiles</h4>
                        <!-- <ul class="list-unstyled">
                            /* <li><a href="">Topper Nibba 1</a></li>
                            <li><a href="">Topper Nibba 2</a></li>
                            <li><a href="">Topper Nibba 3</a></li> */
                        </ul> -->
                    </div>
                </div>
            </div>
            <hr>
    </footer>
    <!--::footer_part end::-->

    <!-- google map api -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.7/chartist.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/js/min/perfect-scrollbar.jquery.min.js'></script>
<script  src="/js/profile.js"></script>

<script>
  drake = dragula({
    revertOnSpill: true,
    mirrorContainer: document.querySelector('.movecontainer')
}).on('drag', function(el, source) {
    // On mobile this prevents the default page scrolling while dragging an item.
    $(document).on('touchstart', function(e) {
        e.preventDefault();
    });
}).on('drop', function(el, target, source, sibling) {
    // On mobile this turns on default page scrolling after the end of a drag drop.
    $(document).off('touchstart');
});
  </script>
  <script>
  	var smallnavbar = document.getElementById("smallnavbar");
var navtoggle = document.getElementById("navtoggle");
navtoggle.addEventListener("click", function(){
    if(smallnavbar.style.display == 'none'){
        smallnavbar.style.display = "flex";
        smallnavbar.style.justifyContent ="center";
    }
    else {
        smallnavbar.style.display = "none";
        smallnavbar.style.transition = "1s ease-in-out"
    }
})

window.onscroll = function() {myfunction()};

// Get the navbar
var navbar = document.getElementsByClassName("navbar");

// Get the offset position of the navbar
var sticky = navbar[0].offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myfunction() {
  if (window.pageYOffset >= sticky) {
    navbar[0].classList.add("sticky");
  } else {
    navbar[0].classList.remove("sticky");
  }
}
  </script>
  <script> 
    window.onload = function(){
        document.querySelector("#preloader").style.display = "none";
    }
</script>
</body>
</html>
