<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Semester</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/bookcard.css">
        <link rel="stylesheet" href="/css/semester_card_style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<style>
.developers-details{
    font-size:1rem;
    position:relative;
    top:1vh;
    color:black !important;
}
      .logout1{
    color:white !important;
}
@media (max-width:768px){
	.grid-item:first-child{
		margin-top:16vh;
	}
}
@media (min-width: 767px){
.logout1{
    color:black;
    position:relative;
    left:10vw;
    font-weight:700;
}
}
    .active { color: red; }
    #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: 999999;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
</style>
    </head>
    <body style="margin:0;overflow-x: hidden;background:#EDEDED;">
        <div id="preloader">
        <div id="loader"></div>
    </div>
        <%= console.log("notes in ejs",notes) %>
        <%= console.log("branch details",branchname) %>

                <nav class="navbar">
            <!-- <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
                    <img src="img/bars.png" alt="" style="position: absolute;top: 20px;">
                </label> -->
            <a href="/" class="logo">Resource Hub</a>
            <!-- <input type="checkbox" id="chkToggle"></input> -->
            <ul class="main-nav" id="js-menu">
              <li>
                <a href="/" class="nav-links">Home</a>
              </li>
              <li>
                <a href="/#about" class="nav-links">About</a>
              </li>
              <li>
                <a href="/profile" class="nav-links">Profile</a>
              </li>
              <li>
                <a href="/users/branch" class="nav-links active">Hub</a>
              </li>
              <li>
                <a href="/#contact" class="nav-links">Contact Us</a>
              </li>
              <li>
                <a href="/users/logout" class="nav-links logout1">Logout</a>
              </li>
            </ul>
            <div id="navtoggle"> <i class="fas fa-bars"></i> </div> 
          </nav>

          <div id="smallnavbar">
            <ul class="smallmain-nav" id="smalljs-menu">
                <li>
                  <a href="/" class="nav-links smallnav">Home</a>
                </li>
                <li>
                  <a href="/#about" class="nav-links smallnav">About</a>
                </li>
                <li>
                    <a href="/profile" class="nav-links smallnav">Profile</a>
                  </li>
                <li>
                  <a href="/users/branch" class="nav-links smallnav active">Hub</a>
                </li>
                <li>
                  <a href="/#contact" class="nav-links smallnav">Contact Us</a>
                </li>
                <li>
                    <a href="/users/logout" class="nav-links smallnav">Logout</a>
                  </li>
              </ul>
        </div>

        <!-- CARDS -->
        <% var count = 1 %>
    <div class="container">
        <div class="row">
<<<<<<< HEAD
            <% notes.forEach((note, i) => { %>
            <div class="card">
                <img class="sem_img" src="/img/semester/<%= i+1 %>.png">
=======
            <% notes.forEach((note) => { %>
            <div class="card">
                <img class="sem_img" src="/img/Frame 1 (1).png">
>>>>>>> 352d21d8440aa662ea1e51acf403a97df49d6b00
                <div class="details">
                    <h2>Semester <%= count%></h2>
                    <div class="details-body">
                        <p>No of uploads : <%= note==0 ? 0 : note.length %></p>
                        <p>No of downloads : <%=downloadCount[count-1]%></p>
                        <p>Overall rating : <%= ratingsPerSemFloored[count-1] %></p>
                    </div>
                    <div class="buttons">
                        <button class="notes_btn" type="button"><a href="/users/branch/semester/notes?branch=<%= branchname %>&semester=<%=count %>&Notescount=<%= note==0 ? 0 : note.length %>">View Notes</a></button>
                        <button class="questions-btn" type="button"><a href="/users/branch/semester/question?branch=<%= branchname %>&semester=<%=count %>&Notescount=<%= note==0 ? 0 : note.length %>">View Ques Paper</a></button>
                    </div>
                </div>
            </div>
            <% count = count+1 %>
            <% }); %>
        </div>    
    </div> 
        

         <!--::footer_part start::-->
   <footer class="footer_part">
        <div class="grid-footer">
            <!-- <div class="row"> -->
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Developers</h4>
                        <ul class="list-unstyled">
                            <li><a href="/developers">Ankit Srivastava</a></li>
                            <li><a href="/developers">Ujjawal Jain</a></li>
                            <li><a href="/developers">Anuva Bhattacharjee</a></li>
                            <li><a href="/developers" class="developers-details">Know More About Developers</a>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Popular Notes</h4>
                        <ul class="list-unstyled">
                            <% popularNotes.forEach((note) => { %>
                                <li style="overflow:hidden; max-height: 30px;"><a href="/users/branch/semester/notes?branch=<%= note.branch %>&semester=<%= note.semester %>"><%= note.subject %>,<%= note.semester %>,<%= note.branch %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Recent Uploads</h4>
                        <ul class="list-unstyled">
                            <% recentNotes.forEach((note) => { %>
                                <li style="overflow:hidden; max-height: 30px;"><a href="/users/branch/semester/notes?branch=<%= note.branch %>&semester=<%= note.semester %>"><%= note.subject %>,<%= note.semester %>,<%= note.branch %></a></li>
                                <% }); %>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Most Downloaded</h4>
                        <ul class="list-unstyled">
                            <% mostDownloaded.forEach((note) => { %> 
                                <li style="overflow:hidden; max-height: 30px;"><a href="/users/branch/semester/notes?branch=<%= note.branch %>&semester=<%= note.semester %>"><%= note.subject %> <%= note.semester %> <%= note.branch %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Popular Profiles</h4>
                        <ul class="list-unstyled">
                            <% popularProfile.forEach((profile) => { %>
                                <li><a href="/users/publicProfile/<%= profile._id %>"><%= profile.name %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            <!-- </div> -->
            <hr>
        </div>
    </footer>
    <!--::footer_part end::-->
        <script type="text/javascript" src="/js/branch-cards2.js"></script>

        <script> 
        window.onload = function(){
            document.querySelector("#preloader").style.display = "none";
        }
    </script>
    </body>
</html>