
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Signup/Login | Resource Hub</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/css/signup.css"> -->
  <!-- <link rel="stylesheet" href="/css/new-signup.css"> -->
  <link rel="stylesheet" href="/css/final-sign-up.css">
  <link rel="icon" href="/img/favicon.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <style>
    body,
    html {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    body {
      height: 100vh;
      background-color: #562fc7;
      font-family: "Montserrat", sans-serif;
    }
    .nav-images
    {
       position: relative;
       top: 20%;
       left: 25rem;
       padding-right: 30px;
    }
    .signup-logo
    {
      position: relative;
      right: 20rem;
      top: 0.3rem;
    }
    .logo {
      font-size: 2.7rem;
    }

    .nav-links {
      font-size: 2rem;
    }

    .wrong {
      color: red !important;
      border: 1px solid red !important;
    }

    .dis {
      background: slategrey !important;
    }
    .form form .form-group {
      margin-bottom: 15px;
      position: relative;
      color: #000;
    }

    .form form .form-group.hasError input {
      border-color: #f95959 !important;
      color: #f95959;
    }

    .form form .form-group.hasError label {
      color: #f95959 !important;
    }

    .form form input:not([type=submit]).hasError {
      border-color: #f95959;
    }

    .form form span.error {
      color: #f95959;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      position: absolute;
      bottom: -14px;
      left: 16%;
      display: none;
    }
    /* .form form input[type=password] {
      color: #f95959;
    } */
    .container-right
    {
      animation-name: rotate-signup;
      animation-duration: 1s;
    }
    

  </style>
</head>

<body>

  <!-- New Signup Page -->
  <!-- <div class="container"> -->

  <section id="formHolder" class="big-screen m-0 p-0 h-100">

    <div class="container form" style="height: 100%;overflow: hidden;">
      <div class="row g-0" style="height: 100%;">
        <div class="col-6 d-flex" style="height: 100%;">
          <a href="/"><img src="/img/signup/logo.svg" class="logo" alt="" srcset=""></a>
          <img src="/img/signup/illustraion-signup_login.svg" style="margin: auto;" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 d-flex">
          <div class="box-card"
            style="/*height: 95%;*/width: 80%;background-color: white;margin:5%;margin-right: 0;border-radius: 45px;">
              <div class="error-scroll" id="error">
                <%- include('./partials/messages') %>
              </div>
              <div class="box-card-front">

                <!-- Updated login form -->
                <div class="login-form form-peice">
                  <form class="login-form" action="/users/login" method="post">
                    <h3 id="logh31" class="heading">Get Started</h3>
                    <div class="form-group">
                      <input type="email" name="email" class="loginInput" id="loginemail"
                        placeholder="Enter your email">
                    </div>

                    <div class="form-group">
                      <div id="eye3" onclick="passwordfnsign3()">
                        <i id="login-hide1" class="fa fa-eye"></i>
                        <i id="login-hide2" class="fa fa-eye-slash"></i>
                      </div>
                      <input type="password" name="password" class="loginInput" id="loginPassword"
                        placeholder="Enter your password">
                    </div>

                    <div class="CTA">
                      <input type="submit" value="Log In" class="submit-btn">
                      <br>
                      <p style="margin-top: 4vh;color: #524f4f;">Don't have an account? - <a href="#" class="switch"
                          style="font-size: 13px;"><b>Sign Up</b></a></p>
                    </div>
                    <div class="external-links">
                      <div class="hr-sect">or login using</div>
                      <div class="social-container1">
                        <a class="sociallinkbtn" href="/users/facebook"><img style="height: 28px;"
                            src="/img/icons/facebook.png" alt="facebook"></a>
                        <a class="sociallinkbtn" href="/users/google"><img style="height: 28px;"
                            src="/img/icons/google.png" alt="google"></a>
                        <a class="sociallinkbtn" href="/users/linkedin"><img style="height: 28px;"
                            src="/img/icons/linkedin.png" alt="linkedin"></a>
                      </div>
                    </div>
                  </form>
                  <p style="text-align: center; margin-top: 10px;"><a href="/users/forgotPassword"><b>Forgot Password ?</b></a></p>
                </div>
              </div>
              <div class="box-card-back">

                <!-- Updated signup form -->
                <div class="signup-form form-peice switched">
                  <form class="signup-form" id="signupForm" action="/users/signup" method="post"
                    style="position:absolute;margin-top: 12px;">
                    <h3 id="signh3" class="heading" style="margin-top: 1rem;">Create an Account</h3>
           
           
                    <div style="margin-bottom: 10px;" class="form-group">
                      <input   type="text" name="name"  placeholder="Enter your name" id="name" class="name signinInput" 
                        value="<%= typeof name != 'undefined' ? name : '' %>" required="true">
                      <span class="error"></span>
                    </div>
          
           
           
                    <div style="margin-bottom: 10px;" class="form-group">
                      <input type="email" name="email" id="email" placeholder="Enter your email" class="email signinInput"
           
                        value="<%= typeof email != 'undefined' ? email : '' %>" onchange="validateEmail()" required="true">
                      <span class="error"></span>
                    </div>
          
                    <div style="margin-bottom: 10px;" class="form-group password-input">
                      <div id="eye" onclick="passwordfnsign()">
                        <i id="signup-hide1" class="fa fa-eye"></i>
                        <i id="signup-hide2" class="fa fa-eye-slash"></i>
                      </div>
                      <input type="password" name="password" id="password" placeholder="Enter your password" class="pass signinInput"
                        value="<%= typeof password != 'undefined' ? password : '' %>" required="true">
                      <span class="error"></span>
                    </div>
          
                    <div style="margin-bottom: 10px;" class="form-group password-input">
                      <div id="eye2" onclick="passwordfnsign2()">
                        <i id="signup-hide3" class="fa fa-eye"></i>
                        <i id="signup-hide4" class="fa fa-eye-slash"></i>
                      </div>
                      <input type="password" name="password2" id="passwordCon" placeholder="Enter your password again"
                        class="passConfirm signinInput" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required="true">
                      <span class="error"></span>
                    </div>
                    <p style="text-align: center; margin-top: 20px;"><input type="checkbox" id="terms" value="yes" name="terms"
                        style="margin-right: 1rem;">I agree to the <a href="../terms.html" target="_blank">Terms and
                        Conditions</a></p>
          
                    <div class="CTA">
                      <input type="submit" id="sub" class="submit-btn" value="Sign Up">
                      <br>
                    </div>
                    <div class="external-links">
                      <div style="margin-top: 10px; color:#524f4f"class="hr-sect">or sign up with</div>
                      <div class="social-container1">
                        <a class="sociallinkbtn" href="/users/facebook"><img style="height: 28px;" src="/img/icons/facebook.png" alt="facebook"></a>
                        <a class="sociallinkbtn" href="/users/google"><img style="height: 28px;" src="/img/icons/google.png" alt="google"></a>
                        <a class="sociallinkbtn" href="/users/linkedin"><img style="height: 28px;" src="/img/icons/linkedin.png" alt="linkedin"></a>
                      </div>
                    </div>
                    <p style="margin-top: 14px;color:#524f4f">Already have an account? - <a href="#" class="switch"
                        style="font-size: 13px;"><b>Login</b></a></p>
                  </form>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- mobile screen -->

  <section id="formHolder" class="small-screen">
    <div class="container-top">
      <img class="svg" width="100%" src="/img/signup/illustraion-signup_login.svg" alt="" srcset="">
    </div>
    <div class="container-below form"
      style="width: 100%;background-color: white;border-top-left-radius: 45px;border-top-right-radius: 45px;margin-top: -8vh;">
      
      <!-- Updated login form -->
      <div class="login-form form-peice">
        <div class="error-scroll" id="error">
          <%- include('./partials/messages') %>
        </div>
        <form class="login-form-2" action="/users/login" method="post">
          <h3 id="logh31" class="heading" style="font-size: 3rem !important; margin-bottom: 40px;">Get Started</h3>
          <div class="form-group">
            <input type="email" name="email" class="loginInput" id="loginemail" placeholder="Enter your email">
          </div>

          <div class="form-group">
            <div id="eye3" onclick="passwordfnsign3()">
              <i id="login-hide1" class="fa fa-eye"></i>
              <i id="login-hide2" class="fa fa-eye-slash"></i>
            </div>
            <input type="password" name="password" class="loginInput" id="loginPassword"
              placeholder="Enter your password">
          </div>

          <div class="CTA">
            <input type="submit" value="Log In" class="submit-btn">
            <br>
            <p style="margin-top: 4vh;color: #524f4f;">Don't have an account? - <a href="#" class="switch"
                style="font-size: 13px;"><b>Sign Up</b></a></p>
          </div>
          <div class="external-links">
            <div class="hr-sect">or login using</div>
            <div class="social-container1">
              <a class="sociallinkbtn" href="/users/facebook"><img src="/img/icons/facebook.png" alt="facebook"></a>
              <a class="sociallinkbtn" href="/users/google"><img src="/img/icons/google.png" alt="google"></a>
              <a class="sociallinkbtn" href="/users/linkedin"><img src="/img/icons/linkedin.png" alt="linkedin"></a>
            </div>
          </div>
        </form>
        <p style="text-align: center;"><a href="/users/forgotPassword"><b>Forgot Password ?</b></a></p>
      </div>

      <!-- Updated signup form -->
      <div class="signup-form form-peice switched">
        <form class="signup-form" id="signupForm" action="/users/signup" method="post" style="margin-top: 12px;">
          <h3 id="signh3" class="heading"  style="font-size: 3rem !important; margin-bottom: 40px;">Create an Account</h3>


          <div style="margin-bottom: 10px;" class="form-group">
            <input type="text" name="name" placeholder="Enter your name" id="name" class="name signinInput"
              value="<%= typeof name != 'undefined' ? name : '' %>" required="true">
            <span class="error"></span>
          </div>



          <div style="margin-bottom: 10px;" class="form-group">
            <input type="email" name="email" id="email" placeholder="Enter your email" class="email signinInput"
              value="<%= typeof email != 'undefined' ? email : '' %>" onchange="validateEmail()" required="true">
            <span class="error"></span>
          </div>

          <div style="margin-bottom: 10px;" class="form-group password-input">
            <div id="eye" onclick="passwordfnsign()">
              <i id="signup-hide1" class="fa fa-eye"></i>
              <i id="signup-hide2" class="fa fa-eye-slash"></i>
            </div>
            <input type="password" name="password" id="password" placeholder="Enter your password"
              class="pass signinInput" value="<%= typeof password != 'undefined' ? password : '' %>" required="true">
            <span class="error"></span>
          </div>

          <div style="margin-bottom: 10px;" class="form-group password-input">
            <div id="eye2" onclick="passwordfnsign2()">
              <i id="signup-hide3" class="fa fa-eye"></i>
              <i id="signup-hide4" class="fa fa-eye-slash"></i>
            </div>
            <input type="password" name="password2" id="passwordCon" placeholder="Enter your password again"
              class="passConfirm signinInput" value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
              required="true">
            <span class="error"></span>
          </div>
          <p style="text-align: center; margin-top: 20px;"><input type="checkbox" id="terms" value="yes" name="terms"
              style="margin-right: 1rem;">I agree to the <a href="../terms.html" target="_blank">Terms and
              Conditions</a></p>

          <div class="CTA">
            <input type="submit" id="sub" class="submit-btn" value="Sign Up">
            <br>
          </div>
          <div class="external-links">
            <div style="margin-top: 10px; color:#524f4f" class="hr-sect">or sign up with</div>
            <div class="social-container1">
              <a class="sociallinkbtn" href="/users/facebook"><img src="/img/icons/facebook.png" alt="facebook"></a>
              <a class="sociallinkbtn" href="/users/google"><img src="/img/icons/google.png" alt="google"></a>
              <a class="sociallinkbtn" href="/users/linkedin"><img src="/img/icons/linkedin.png" alt="linkedin"></a>
            </div>
          </div>
          <p style="margin-top: 14px;color:#524f4f">Already have an account? - <a href="#" class="switch"
              style="font-size: 13px;"><b>Login</b></a></p>
        </form>
      </div>
    </div>
  </section>
  <!-- </div> -->
  <!--             

   </section>
</div> -->
  <!-- partial -->
  <script>

    function validate(email) {
      const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
    function validateEmail() {
      const email = document.getElementById('email');
      const value = email.value;

      if (!validate(value)) {
        email.classList.add('wrong');
        document.getElementById('sub').disabled = true;
        document.getElementById('sub').classList.add('dis');
      } else {
        email.classList.remove('wrong');
        document.getElementById('sub').disabled = false;
        document.getElementById('sub').classList.remove('dis');
      }
      return false;
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script>
  </script>
  <script src="/js/signup.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>

</html>