<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Signup/Login | Resource Hub</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <!-- <link rel="stylesheet" href="/css/signup.css"> -->
  <link rel="stylesheet" href="/css/new-signup.css">
  <link rel="icon" href="/img/favicon.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <style>
    /* .social-container1 {
  text-align: center;
}
.sociallinkbtn {
  display: inline-block;
  width: 60px;
  height: 56px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #562fc7;
  overflow: hidden;
  position: relative;
}
.sociallinkbtn i {
  line-height: 60px;
  font-size: 26px;
  transition: 0.2s linear;
}
.sociallinkbtn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.sociallinkbtn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #562fc7;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.sociallinkbtn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10
}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
/* } */
    .logo {
      font-size: 2.7rem;
    }

    .nav-links {
      font-size: 1.6rem;
    }

    .wrong {
      color: red !important;
      border: 1px solid red !important;
    }

    .dis {
      background: slategrey !important;
    }

    /* .signup-container
{
  background-color: #786CFF;
  background-size: cover;
  height: 200vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  z-index: 2;
}
.signup-logo
{
  width: 10%;
  height: 10%;
}
.right
{
  position: absolute;
  width: 50%;
  height: 50%; 
}
.left
{
  position:absolute;
  left: 60%;
}
.left-img
{
  width: 90%;
  height: 90%;
  padding: 40px;
} */
    .form form .form-group {
      margin-bottom: 15px;
      position: relative;
      color: #000;
    }

    .form form .form-group.hasError input {
      border-color: #f95959 !important;
    }

    .form form .form-group.hasError label {
      color: #f95959 !important;
    }

    .form form input:not([type=submit]).hasError {
      border-color: #f95959;
    }

    .form form span.error {
      color: #f95959;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      position: absolute;
      bottom: -14px;
      left: 16%;
      display: none;
    }

    .form form input[type=password] {
      color: #f95959;
    }
  </style>
</head>

<body>
 <!-- <nav class="navbar">
    <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">

      <i class="fas fa-bars"></i>
    </label>
    <a href="/" class="logo">Resource Hub</a>
    <input type="checkbox" id="chkToggle"></input>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/?user=false" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/?user=false#about" class="nav-links">About</a>
      </li>
      <li>
        <a href="/users/branch" class="nav-links">Hub</a>
      </li>
      <li>
        <a href="/?user=false#contact" class="nav-links">Contact Us</a>
      </li>
    </ul>
  </nav>
  <div class="container">
   <section id="formHolder">

      <div class="row"> -->



  <!-- Brand Box -->
  <!-- <div class="col-sm-6 brand cover">
         	<video src="/img/particle.mp4" muted="" autoplay="" loop></video>
          <h3 class="tag"><span>R</span>esource <span>H</span>ub <span>N</span>ITS</h3>
         </div> -->


  <!-- Form Box -->
  <!-- <div class="col-sm-6 form"> -->

  <!-- Login Form -->

  <!-- <div class="login form-peice">
              <div class="error-scroll" id="error">
                <%- include('./partials/messages') %>
            </div>
               <form class="login-form" action="/users/login" method="post" style="top:49%;">
                   <h3 id="logh3" class="heading">Log In</h3>
                   <p id="logusing" class="heading">using</p>
               	 <div class="social-container1">
                	<a class="sociallinkbtn" ><i class="fab fa-facebook-f"></i></a>
                	<a class="sociallinkbtn" ><i class="fab fa-google-plus-g"></i></a>
                	<a class="sociallinkbtn" ><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="email-handle"><span style="background:#fff; 
                padding:0 10px;">or use your Email</span></div>
                  <div class="form-group">
                     <label for="loginemail">Email Address</label>
                     <input type="email" name="email" id="loginemail">
                  </div>

                  <div class="form-group">
                     <label for="loginPassword">Password
                      <div id="eye1" onclick="passwordfnlog()">
                        <i id="hide1" class="fa fa-eye"></i>
                        <i id="hide2" class="fa fa-eye-slash"></i>
                      </div>
                     </label>
                     <input type="password" name="password" id="loginPassword">
                     
                  </div>

                  <div class="CTA">
                     <input type="submit" value="Log In">
                     <br>
                    <p style="margin-top: 5vh;color: #524f4f;">Don't have an account? - <a href="#" class="switch" style="font-size: 13px;"><b>Sign Up</b></a></p>
                  </div>
               </form>
                 <p style="position: relative;top: 75vh;left: 25vw;color: #524f4f;font-size: 13px;"><a href="/users/forgotPassword"><b>Forgot Password</b></a></p> -->
  <!-- </div>End Login Form -->
  <!-- Signup Form -->
  <!-- <div class="signup form-peice switched">
                
               <form class="signup-form" id="signupForm" action="/users/signup" method="post" style="position:absolute;margin-top: 12px;">
                   <h3 id="signh3" class="heading">Create Account</h3>
                   <p id="signusing" class="heading">using</p>
               	<div class="social-container1">
                	<a class="sociallinkbtn" ><i class="fab fa-facebook-f"></i></a>
                	<a class="sociallinkbtn" ><i class="fab fa-google-plus-g"></i></a>
                	<a class="sociallinkbtn" ><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="email-handle"><span style="background:#fff;padding:0 10px;">or use your Email</span></div>  
                                
                <div class="form-group">
                     <label for="name">Name</label>
                     <input type="text" name="name" id="name" class="name" value="<%= typeof name != 'undefined' ? name : '' %>" required="true" >
                     <span class="error"></span>
                </div>

                  <div class="form-group">
                     <label for="email">Email Address</label>
                     <input type="email" name="email" id="email" class="email" value="<%= typeof email != 'undefined' ? email : '' %>" onchange="validateEmail()" required="true">
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="password">Password
                      <div id="eye" onclick="passwordfnsign()">
                        <i id="hide3" class="fa fa-eye"></i>
                        <i id="hide4" class="fa fa-eye-slash"></i>
                      </div>
                     </label>
                     <input type="password" name="password" id="password" class="pass" value="<%= typeof password != 'undefined' ? password : '' %>" required="true">
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="passwordCon">Confirm Password</label>
                     <input type="password" name="password2" id="passwordCon" class="passConfirm" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required="true">
                     <span class="error"></span>
                  </div> -->
  <!-- <input type="checkbox" id="terms" name="terms" value="terms">
                  <label for="terms">Terms and Conditions</label> -->
  <!-- <p style="text-align: center; margin-top: 20px;"><input type="checkbox" id="terms" value="yes" name="terms" style="width: 15px; float: left;">I agree to the <a href="../terms.html" target="_blank">Terms and Conditions</a></p>
                  
                  <div class="CTA">
                    <input type="submit" id="sub" value="Sign Up">
                    <br>
                    <p style="margin-top: 14px;color:#524f4f">Already have an account? - <a href="#" class="switch"style="font-size: 13px;"><b>Login</b></a></p>
                     
                  </div>
               </form> -->
  <!-- </div>End Signup Form -->
  <!-- </div>  
      </div>  -->

  <!-- New Signup Page -->
  <!-- <div class="container"> -->

  <section id="formHolder" class="big-screen">

    <div class="container-left">
      <a href="/"><img class="signup-logo" src="/img/signup/logo.svg" alt="" srcset=""></a>
      <img class="signup-illustration" src="/img/signup/illustraion-signup_login.svg" alt="" srcset="">
    </div>
    <div class="container-right form">
      <div class="error-scroll" id="error">
        <%- include('./partials/messages') %>
      </div>

      <!-- Updated login form -->
      <div class="login-form form-peice">
        <form class="login-form" action="/users/login" method="post">
          <h3 id="logh31" class="heading">Get Started</h3>
          <div class="form-group">
            <input type="email" name="email" class="loginInput" id="loginemail" placeholder="Enter your email">
          </div>

          <div class="form-group">
            <div id="eye3" onclick="passwordfnsign3()">
              <i id="login-hide1" class="fa fa-eye"></i>
              <i id="login-hide2" class="fa fa-eye-slash"></i>
            </div>
            <input type="password" name="password" class="loginInput" id="loginPassword" placeholder="Enter your password">
          </div>

          <div class="CTA">
            <input type="submit" value="Log In" class="submit-btn">
            <br>
            <p style="margin-top: 4vh;color: #524f4f;">Don't have an account? - <a href="#" class="switch"
                style="font-size: 13px;"><b>Sign Up</b></a></p>
          </div>
          <div class="external-links">
            <div class="hr-sect">or login using</div>
            <div class="social-container1">
              <a class="sociallinkbtn" href="/users/facebook"><img style="height: 28px;" src="/img/icons/facebook.png" alt="facebook"></a>
              <a class="sociallinkbtn" href="/users/google"><img style="height: 28px;" src="/img/icons/google.png" alt="google"></a>
              <a class="sociallinkbtn" href="/users/linkedin"><img style="height: 28px;" src="/img/icons/linkedin.png" alt="linkedin"></a>
            </div>
          </div>
        </form>
        <p style="text-align: center;"><a href="/users/forgotPassword"><b>Forgot Password ?</b></a></p>
      </div>

      <!-- Updated signup form -->
      <div class="signup-form form-peice switched">
        <form class="signup-form" id="signupForm" action="/users/signup" method="post"
          style="position:absolute;margin-top: 12px;">
          <h3 id="signh3" class="heading">Create an Account</h3>
 
 
          <div style="margin-bottom: 10px;" class="form-group">
            <input   type="text" name="name"  placeholder="Enter your name" id="name" class="name signinInput" 
              value="<%= typeof name != 'undefined' ? name : '' %>" required="true">
            <span class="error"></span>
          </div>

 
 
          <div style="margin-bottom: 10px;" class="form-group">
            <input type="email" name="email" id="email" placeholder="Enter your email" class="email signinInput"
 
              value="<%= typeof email != 'undefined' ? email : '' %>" onchange="validateEmail()" required="true">
            <span class="error"></span>
          </div>

          <div style="margin-bottom: 10px;" class="form-group password-input">
            <div id="eye" onclick="passwordfnsign()">
              <i id="signup-hide1" class="fa fa-eye"></i>
              <i id="signup-hide2" class="fa fa-eye-slash"></i>
            </div>
            <input type="password" name="password" id="password" placeholder="Enter your password" class="pass signinInput"
              value="<%= typeof password != 'undefined' ? password : '' %>" required="true">
            <span class="error"></span>
          </div>

          <div style="margin-bottom: 10px;" class="form-group password-input">
            <div id="eye2" onclick="passwordfnsign2()">
              <i id="signup-hide3" class="fa fa-eye"></i>
              <i id="signup-hide4" class="fa fa-eye-slash"></i>
            </div>
            <input type="password" name="password2" id="passwordCon" placeholder="Enter your password again"
              class="passConfirm signinInput" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required="true">
            <span class="error"></span>
          </div>
          <p style="text-align: center; margin-top: 20px;"><input type="checkbox" id="terms" value="yes" name="terms"
              style="margin-right: 1rem;">I agree to the <a href="../terms.html" target="_blank">Terms and
              Conditions</a></p>

          <div class="CTA">
            <input type="submit" id="sub" class="submit-btn" value="Sign Up">
            <br>
          </div>
          <div class="external-links">
            <div style="margin-top: 10px; color:#524f4f"class="hr-sect">or sign up with</div>
            <div class="social-container1">
              <a class="sociallinkbtn" href="/users/facebook"><img style="height: 28px;" src="/img/icons/facebook.png" alt="facebook"></a>
              <a class="sociallinkbtn" href="/users/google"><img style="height: 28px;" src="/img/icons/google.png" alt="google"></a>
              <a class="sociallinkbtn" href="/users/linkedin"><img style="height: 28px;" src="/img/icons/linkedin.png" alt="linkedin"></a>
            </div>
          </div>
          <p style="margin-top: 14px;color:#524f4f">Already have an account? - <a href="#" class="switch"
              style="font-size: 13px;"><b>Login</b></a></p>
        </form>
      </div>
    </div>
  </section>

  <!-- mobile screen -->

  <section id="formHolder" class="small-screen">
    <div class="container-top">
      <img width="100%" src="/img/signup/illustraion-signup_login.svg" alt="" srcset="">
    </div>
    <div class="container-below form" style="width: 100%;background-color: white;border-top-left-radius: 45px;border-top-right-radius: 45px;margin-top: -8vh;">
      <div class="error-scroll" id="error">
        <%- include('./partials/messages') %>
      </div>
      <!-- Updated login form -->
      <div class="login-form form-peice" style="padding: 20px 0;">
        <form class="login-form" action="/users/login" method="post">
          <h3 id="logh31" class="heading" style="font-size: 25px !important;">Get Started</h3>
          <div class="form-group">
            <input type="email" name="email" class="loginInput" id="loginemail" placeholder="Enter your email">
          </div>

          <div class="form-group">
            <div id="eye3" onclick="passwordfnsign3()">
              <i id="login-hide1" class="fa fa-eye"></i>
              <i id="login-hide2" class="fa fa-eye-slash"></i>
            </div>
            <input type="password" name="password" class="loginInput" id="loginPassword" placeholder="Enter your password">
          </div>

          <div class="CTA">
            <input type="submit" value="Log In" class="submit-btn">
            <br>
            <p style="margin-top: 4vh;color: #524f4f;">Don't have an account? - <a href="#" class="switch"
                style="font-size: 13px;"><b>Sign Up</b></a></p>
          </div>
          <div class="external-links">
            <div class="hr-sect">or login using</div>
            <div class="social-container1">
              <a class="sociallinkbtn" href="/users/facebook"><img src="/img/icons/facebook.png" alt="facebook"></a>
              <a class="sociallinkbtn" href="/users/google"><img src="/img/icons/google.png" alt="google"></a>
              <a class="sociallinkbtn" href="/users/linkedin"><img src="/img/icons/linkedin.png" alt="linkedin"></a>
            </div>
          </div>
        </form>
        <p style="text-align: center;"><a href="/users/forgotPassword"><b>Forgot Password ?</b></a></p>
      </div>

      <!-- Updated signup form -->
      <div class="signup-form form-peice switched" style="padding: 20px 0;">
        <form class="signup-form" id="signupForm" action="/users/signup" method="post"
          style="margin-top: 12px;">
          <h3 id="signh3" class="heading" style="font-size: 25px !important;">Create an Account</h3>
 
 
          <div style="margin-bottom: 10px;" class="form-group">
            <input   type="text" name="name"  placeholder="Enter your name" id="name" class="name signinInput" 
              value="<%= typeof name != 'undefined' ? name : '' %>" required="true">
            <span class="error"></span>
          </div>

 
 
          <div style="margin-bottom: 10px;" class="form-group">
            <input type="email" name="email" id="email" placeholder="Enter your email" class="email signinInput"
 
              value="<%= typeof email != 'undefined' ? email : '' %>" onchange="validateEmail()" required="true">
            <span class="error"></span>
          </div>

          <div style="margin-bottom: 10px;" class="form-group password-input">
            <div id="eye" onclick="passwordfnsign()">
              <i id="signup-hide1" class="fa fa-eye"></i>
              <i id="signup-hide2" class="fa fa-eye-slash"></i>
            </div>
            <input type="password" name="password" id="password" placeholder="Enter your password" class="pass signinInput"
              value="<%= typeof password != 'undefined' ? password : '' %>" required="true">
            <span class="error"></span>
          </div>

          <div style="margin-bottom: 10px;" class="form-group password-input">
            <div id="eye2" onclick="passwordfnsign2()">
              <i id="signup-hide3" class="fa fa-eye"></i>
              <i id="signup-hide4" class="fa fa-eye-slash"></i>
            </div>
            <input type="password" name="password2" id="passwordCon" placeholder="Enter your password again"
              class="passConfirm signinInput" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required="true">
            <span class="error"></span>
          </div>
          <p style="text-align: center; margin-top: 20px;"><input type="checkbox" id="terms" value="yes" name="terms"
              style="margin-right: 1rem;">I agree to the <a href="../terms.html" target="_blank">Terms and
              Conditions</a></p>

          <div class="CTA">
            <input type="submit" id="sub" class="submit-btn" value="Sign Up">
            <br>
          </div>
          <div class="external-links">
            <div style="margin-top: 10px; color:#524f4f"class="hr-sect">or sign up with</div>
            <div class="social-container1">
              <a class="sociallinkbtn" href="/users/facebook"><img src="/img/icons/facebook.png" alt="facebook"></a>
              <a class="sociallinkbtn" href="/users/google"><img src="/img/icons/google.png" alt="google"></a>
              <a class="sociallinkbtn" href="/users/linkedin"><img src="/img/icons/linkedin.png" alt="linkedin"></a>
            </div>
          </div>
          <p style="margin-top: 14px;color:#524f4f">Already have an account? - <a href="#" class="switch"
              style="font-size: 13px;"><b>Login</b></a></p>
        </form>
      </div>
    </div>
  </section>
  <!-- </div> -->
  <!--             

   </section>


</div> -->
  <!-- partial -->
  <script>

    function validate(email) {
      const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
    function validateEmail() {
      const email = document.getElementById('email');
      const value = email.value;

      if (!validate(value)) {
        email.classList.add('wrong');
        document.getElementById('sub').disabled = true;
        document.getElementById('sub').classList.add('dis');
      } else {
        email.classList.remove('wrong');
        document.getElementById('sub').disabled = false;
        document.getElementById('sub').classList.remove('dis');
      }
      return false;
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script>
  </script>
  <script src="/js/signup.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>

</html>